* {
    box-sizing: border-box;
}
li{
    padding: auto;
    border: 1px solid gold;
    list-style: none;
    width: fit-content;
    background-color: rgb(233, 168, 111);
    display: block;
    margin: 19px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
    
}
.card{
    width: 450px;
    background-color: #fefefecc;
    padding: 8px;

}
a{
    text-decoration: none;
    color: darkviolet;    
    

}

h1{
    padding:3px;
    border:2px solid gold;
    background-color: aqua;
    box-sizing: border-box;
    width: 250px;
    margin:auto ;

}
